.toolbar-children {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px ;

    .ToolbarMenu-container {
        @media (max-width: 640px - 1) {
            display: none;
        }
    }
}
